<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff8913">
  <button
    class="navbar-toggler"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    [attr.aria-expanded]="!isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link h5" routerLink="/registration" routerLinkActive="active">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" routerLink="/users-view" routerLinkActive="active">Потребителски изглед</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" routerLink="/managers-view" routerLinkActive="active">Изглед за мениджъри на заведения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" routerLink="/administrators-view" routerLinkActive="active">Администраторски изглед</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
